---
import "@/styles/global.css"
import AppLayout from "@/components/layout/AppLayout"
import { ClientRouter } from "astro:transitions"
---

<html lang="es" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>FB Store — Dashboard</title>
    <ClientRouter />
  </head>
  <body>
    <AppLayout client:load>
      <slot />
    </AppLayout>
  </body>
</html>
