---
import Layout from "@/layouts/main.astro"
import StatsCards from "@/components/dashboard/StatsCards"
import QuickScrape from "@/components/quick-scrape/QuickScrape"
import RecentScrapes from "@/components/dashboard/RecentScrapes"
---

<Layout>
  <div class="space-y-8">
    <StatsCards client:load />
    <QuickScrape client:load />
    <RecentScrapes client:load />
  </div>
</Layout>
